:root {
  /* basic style things */
  font-size: 16px;
  font-family: "Roboto", Arial;

  /* variables in the root selector so I can use them everywhere */
  --primary-background-color: hsl(213, 24%, 20%);

  --primary-text-color: #fff;
  --highlight-text-color: hsl(176, 96%, 69%);

  --transition-time: 300ms;
}

/* whole page style */
* {
  background: var(--primary-background-color);
  color: var(--primary-text-color);

  padding: 0;
  margin: 0;
}

/* ALIGNMENT */

/* 

header and top nav - 1
main header - 2

*/

/* 1 */
/* header and top nav */
.page-header {
  display: flex;
  width: 100%; /* all of the screen */
  height: 2rem;
  position: sticky;
}

.top-nav-bar ul {
  display: flex; /* makes the list items draw in a row */
  list-style: none; /* no dots before the list items */
  gap: 2em; /* gap between the elements */
  padding: 0.75em; /* moves the element away from the corner */
}

.top-nav-bar a,
span {
  font-style: italic; /* makes the links stand out */
  text-decoration: none; /* makes the links look like normal text */
  font-size: 1.75rem;
  outline: none; /* no outline on focus */
}

/* focus state so the on focus looks good and not so boring */
.top-nav-bar a:hover,
.top-nav-bar a:focus {
  color: var(--highlight-text-color);
  transition: var(--transition-time);
  border-bottom: 2px solid var(--highlight-text-color); /* underlines the text */
}

/* 2 */
/* main header */
.main-header {
  text-align: center;
  font-size: 5rem;
  padding-top: 0.5em; /* pushes the element down from the top of the page */
  border-bottom: 2px solid var(--highlight-text-color);
}
